<html>
  <head>
    <title>Django Girls Blog</title>
  </head>
  <body>
    <div>
      <h1><a href=""> My Django Girl Project </a></h1>
    </div>

    <div>
      <p>published: 20.01.2018, 15:26 </p>
      <h2><a href="">My first post</a></h2>
      <p> This is my first post I created on Django Girls Blog </p>
    </div>

    <div>
      <p>published: 20.01.2018, 15:36 </p>
      <h2><a href="">My second post</a></h2>
      <p>This is my second post. Woow exciting:))</p>
    </div>
  </body>
</html>
